node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
.env
.vscode
.idea
.DS_Store
allure*
*.log
*.tsbuildinfo
dist/
build/
out/
Thumbs.db
.env
.env.local
.env.*.local
coverage/
*.lcov
*.json
yarn.lock
pnpm-lock.yaml
package-lock.json
.idea/
*.iml
*.swp
*.swo
*.tmp
*.bak
/blob-report/
