node_modules/
dist/
build/
out/
*.tsbuildinfo
*.log
*.swp
*.swo
*.tmp
*.bak
Thumbs.db
.DS_Store
*.json
coverage/
*.lcov
/blob-report/
test-results/
playwright-report/
playwright/.cache/
**/allure-results/
**/allure-history/
**/allure-report/
.env
.env.local
.env.*.local
yarn.lock
pnpm-lock.yaml
package-lock.json
.vscode/
.idea/
*.iml
test-results.xml
